{# templates/page.html.twig #}

<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
  <head-placeholder token="{{ placeholder_token|raw }}">
  <title>{{ head_title|safe_join(' | ') }}</title>
  <css-placeholder token="{{ placeholder_token|raw }}">
  <js-placeholder token="{{ placeholder_token|raw }}">
</head>
<body{{ attributes }}>
  <header id="header">
    {{ page.header }}
  </header>

  <div id="main-wrapper">
    <main role="main">
      {{ page.content }}
    </main>

    <aside id="sidebar-first">
      {{ page.sidebar_first }}
    </aside>
  </div>

  <footer id="footer">
    {{ page.footer }}
  </footer>

  <js-bottom-placeholder token="{{ placeholder_token|raw }}">
</body>
</html>
